<h1><%= @the_user.username %></h1>

<dl>
  <dt>
    Private
  </dt>
  <dd>
    <%= @the_user.private %>
  </dd>

  <dt>
    Followers
  </dt>
  <dd>
    <% x = FollowRequest.where({ :recipient_id => @the_user.id }) %>
    <%= x.count %>

    <h4>Pending follow requests</h4>
    
    <% if @current_user != nil %>
    <% a = FollowRequest.where({ :recipient_id => @current_user.id, status: "pending" }) %>
      <% a.each do |a_request| %>
        <ul>
          <li>
            <% b = User.where({ :id => a_request.sender_id }) %>
            <%= b.at(0).username %>
            <form action="/modify_follow_request/<%= a_request.id %>" method="post">
              <input type="hidden" name="query_status" value="accepted">

              <button>Accept</button>
            </form>

            <form action="/modify_follow_request/<%= a_request.id %>" method="post">
              <input type="hidden" name="query_status" value="rejected">

              <button>Rejected</button>
            </form>
          </li>
        </ul>
      <% end %>
    <% end %>

    <form action="/insert_follow_request" method="post">
      <input type="hidden" name="query_sender_id" value="<%= @current_user.id %>">   
      <input type="hidden" name="query_recipient_id" value="<%= @the_user.id %>">   
      
      
      <button>Follow</button>
    </form>
  </dd>

  <dt>
    Following
  </dt>
  <dd>
    
  </dd>

  <dt>
    Edit user 
  </dt>
  <dd>
    <form action="/update_user/<%= @the_user.id %>">
      <label for="username_box">Username</label>
      <input id="username_box" type="text" name="query_username">

      <label for="private_box">Private?</label>
      <input id="private_box" type="checkbox" name="query_private">

      <button>Update user</button>
    </form>
  </dd>
</dl>

<ul>
  <li>
    Profile
  </li>
  
  <li>
    Liked photos
  </li>
    
  <li>
    Feed
  </li>
    
  <li>
    Discover
  </li>

</ul>
