<h1><%= @the_user.username %></h1>

<dl>
  <th>
    Private
  </th>
  <dd>
    <%= @the_user.private %>
  </dd>

  <th>
    Followers
  </th>
  <dd>
    <% x = FollowRequest.where({ :recipient_id => @the_user.id }) %>
    <%= x.count %>

    <h4>Pending requests</h4>
    
    <% if @current_user != nil %>
    <% a = FollowRequest.where({ :recipient_id => @current_user.id, status: "pending" }) %>
      <% a.each do |a_request| %>
        <ul>
          <li>
            <% b = User.where({ :id => a_request.sender_id }) %>
            <%= b.at(0).username %>
            <form action="/modify_follow_request/<%= a_request.id %>" method="post">
              <input type="hidden" name="query_status" value="accepted">

              <button>Accept</button>
            </form>

            <form action="/modify_follow_request/<%= a_request.id %>" method="post">
              <input type="hidden" name="query_status" value="rejected">

              <button>Rejected</button>
            </form>
          </li>
        </ul>
      <% end %>
    <% end %>

    <form action="/insert_follow_request" method="post">
      <input type="hidden" name="query_sender_id" value="<%= @current_user.id %>">   
      <input type="hidden" name="query_recipient_id" value="<%= @the_user.id %>">   
      
      
      <button>Follow</button>
    </form>
  </dd>

  <th>
    Following
  </th>
  <dd>

  </dd>

</dl>
