<h1><%= @the_user.username %></h1>

<dl>
  <dt>
    Private
  </dt>
  <dd>
    <%= @the_user.private %>
  </dd>

  <dt>
    Followers
  </dt>
  <dd>
    <% a = FollowRequest.where({ :recipient_id => @the_user.id }) %>
    <%= a.count %>

    <% if @current_user != nil %>
    <% b = FollowRequest.where({ :recipient_id => @current_user.id, status: "pending" }) %>
      
      <% b.each do |a_request| %>
        
        <h4>Pending follow requests</h4> 
        <ul>
          <li>
            <% c = User.where({ :id => a_request.sender_id }) %>
            <%= c.at(0).username %>
            <form action="/modify_follow_request/<%= a_request.id %>" method="post">
              <input type="hidden" name="query_status" value="accepted">

              <button>Accept</button>
            </form>

            <form action="/modify_follow_request/<%= a_request.id %>" method="post">
              <input type="hidden" name="query_status" value="rejected">

              <button>Rejected</button>
            </form>
          </li>
        </ul>
      <% end %>
    <% end %>


    <% d = FollowRequest.where({ :recipient_id => @the_user.id, :sender_id => @current_user.id , status: "accepted" }) %>
      <% the_following_request_accepted = d.at(0) %>
        
      <% if the_following_request_accepted == nil %> 
        <form action="/insert_follow_request" method="post">
          <input type="hidden" name="query_sender_id" value="<%= @current_user.id %>">   
          <input type="hidden" name="query_recipient_id" value="<%= @the_user.id %>">   
          
          <button>Follow</button>
        </form>
        
      <% else %>
        <div>
          <a href="/delete_follow_request/<%= the_following_request_accepted.id %>">Unfollow</a>
        </div>
      <% end %>
  </dd>

  <dt>
    Following
  </dt>
  <dd>
    <% d = FollowRequest.where({ :sender_id => @the_user.id }) %>
    <%= d.count %>
  </dd>

  <% if session.fetch(:user_id) == @the_user.id %>
    <dt>
      Edit user 
    </dt>
    <dd>
      <form action="/update_user/<%= @the_user.username %>" method="post">
        <label for="username_box">Username</label>
        <input id="username_box" type="text" name="query_username" value="<%= @the_user.username %>">

        <label for="private_box">Private?</label>
        <input id="private_box" type="checkbox" name="query_private" value="<%= @the_user.private %>">

        <button>Update user</button>
      </form>
    </dd>
  <% end %>
</dl>

<ul>
  <li>
    <a href="/users/<%= @the_user.username %>">Profile</a>
  </li>
  
  <li>
    <a href="/users/<%= @the_user.username %>/liked_photos">Liked photos</a>
  </li>
    
  <li>
    <a href="/users/<%= @the_user.username %>/feed">Feed</a>
  </li>
    
  <li>
    Discover
  </li>

</ul>


<% e = Photo.where({ :owner_id => @the_user.id }) %>
<h2>Own photos (<%= e.count %>) </h2>

<table border="1">
  <tr>
    <th>Image</th>
    <th>Owner</th>
    <th>Caption</th>
    <th>Posted</th>
    <th>Likes</th>
    <th></th>
  </tr>

  <% e.each do |a_photo| %>
  <tr>
    <td>
      <img src="<%= a_photo.image %>">
    </td>

    <td>
      <%= @the_user.username %>
    </td>

    <td>
      <%= a_photo.caption %>
    </td>

    <td>
      <%= time_ago_in_words(a_photo.created_at) %> ago
    </td>

    <td>
      <%= a_photo.likes_count %>
    </td>

    <td>
      <a href="/photos/<%= a_photo.id %>">Show details</a>
    </td>

  </tr>
  <% end %>
</table>
