<h1>Photo Details</h1>


<dl>
  <dt>
    Image
  </dt>
  <dd>
    <img src="<%= @the_photo.image %>">
  </dd>

  <dt>
    Caption
  </dt>
  <dd>
    <%= @the_photo.caption %>
  </dd>

  <dt>
    Owner
  </dt>
  <dd>
    <% x = User.where({ :id => @the_photo.owner_id }) %>
    <%= x.at(0).username %>
  </dd>

  <dt>
    Posted 
  </dt>
  <dd>
    <%= time_ago_in_words(@the_photo.created_at) %> ago
  </dd>

  <dt>
    Likes count
  </dt>
  <dd>
    <%= @the_photo.likes_count %>
  </dd>

  <dt>
    Comments count
  </dt>
  <dd>
    <% x = Comment.where({ :photo_id => @the_photo.id }) %>
    <%= x.count %>
  </dd>

  <dt>
    Fans 
  </dt>
  <dd>
    (list of people later)
  </dd>

  <dt>
    Add a fan
  </dt>
  <dd>
    <form action="/create_like" method="post">
      <input type="hidden" name="query_fan_id" value="<%= session.fetch(:user_id) %>">

      <input type="hidden" name="query_photo_id" value="<%= @the_photo.id %>">

      <button>Like</button>
    </form>
  </dd>
</dl>


<h2>Comments</h2>

<table>
  <tbody>
    <tr>
      <th>Commenter</th>
      <th>Comment</th>
      <th>Posted</th>
    </tr>

    <% x = Comment.where({ :photo_id => @the_photo.id }) %>
    <% x.each do |a_comment| %>
    <tr>
      <td>
        <% y = User.where({ :id => a_comment.author_id }) %>
        <%= y.at(0).username %>
      </td>

      <td>
        <%= a_comment.body %>
      </td>

      <td>
        <%= time_ago_in_words(a_comment.created_at) %>
      </td>

    </tr>
    <% end %>
  </tbody>
</table>

<h3>Add a new comment</h3>

<form action="/create_comment" method="post">
  <label for="comment_box">Comment</label>
  <textarea id="comment_box" type="text" placeholder="Enter a comment..." name="query_body"></textarea>

  <input type="hidden" name="query_author_id" value="<%= session.fetch(:user_id) %>">

  <input type="hidden" name="query_photo_id" value="<%= @the_photo.id %>">

  <button>Add comment</button>
</form>
